body {
    background: radial-gradient(circle, #206b79, #000000);

    color: rgb(214, 214, 214);
    text-shadow: 
    -1px -1px 0 rgb(119, 119, 119),  
    1px -1px 0 rgb(119, 119, 119),
    -1px 1px 0 rgb(119, 119, 119),
    1px 1px 0 rgb(119, 119, 119); /* Czarne obramowanie wokół tekstu */
}

.task-list-main {
    position: relative;
    background: radial-gradient(circle, #3cafb8, #28545a);
    border-radius: 5px;
    border: 10px inset rgb(89, 198, 248);
    margin: auto;
    margin-top:5%;
    margin-bottom:2%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
}

.task-list-dependend {
    position: relative;
    background: radial-gradient(circle, #3cafb8, #28545a);
    border: 5px inset rgb(0, 60, 88);
    border-radius: 5px;
    margin: auto;
    margin-bottom:2%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px;
}

.task-list-main .task-list-header{
    top: 0;
    width: 100%;
    text-align: center;
    margin:0;
    border-radius: 10px;
    color: rgb(214, 214, 214);
    font-size: 300%;
    box-sizing: border-box;
    margin-bottom: 5%;
}

.task-list-dependend .task-list-header{
    top: 0;
    width: 100%;
    text-align: center;
    margin:0;
    background-color: #00fff2;
    border-radius: 10px;
    color: rgb(214, 214, 214);
    font-size: 150%;
    box-sizing: border-box;
    margin-bottom: 5%;
}

.task-list-header-undone {
    background: radial-gradient(circle, #61edff, #007a8a);
    border: 10px solid rgb(155, 190, 206);

}

.task-list-header-done {
    background: radial-gradient(circle, #378994, #002125);
    border: 10px solid rgb(0, 33, 48);
 }

.add-task-button {
    width:100%;
    font-size: 500%;
    font-weight: 800;
    border: 10px solid #00434e; 
    background: radial-gradient(circle, #68e1ff, #326d65);
    border-radius: 100px;
}

.add-task-button:hover{
    background: radial-gradient(circle, #00fff2, #326d65);
    cursor: pointer;
}

.add-side-task-button{
    width:100%;
    font-size: 100%;
    font-weight: 800;
    background: radial-gradient(circle, #68e1ff, #326d65);
    border: 5px solid transparent; 
    border-image: linear-gradient(to bottom, #003253, #001058) 1; 
    color: rgb(214, 214, 214);
    text-shadow: 
    -1px -1px 0 rgb(41, 41, 41),  
    1px -1px 0 rgb(41, 41, 41),
    -1px 1px 0 rgb(41, 41, 41),
    1px 1px 0 rgb(41, 41, 41);
}

.add-side-task-button:hover{
    background: radial-gradient(circle, #00fff2, #326d65);
    cursor: pointer;
}

/* _______________________________________BOX______________________________________ */

.task-box-main {
    position:relative;
    border: 10px solid; 
    border-radius: 100px; 
    margin-top: 5px;
    width: 100%; 
    margin: 2% auto; 
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 15px; 
}

.task-box-sub {
    position:relative;
    border: 5px solid ; 
    border-radius: 10px; 
    margin-top: 5px;
    width: 100%; 
    margin: 5px auto; 
    box-sizing: border-box; 
    overflow: hidden;
    border-radius: 15px; 

}

.task-box-incompleted {
    background: radial-gradient(circle, #61edff, #007a8a);
    border-color: rgb(155, 190, 206);
 
}

.task-box-completed {
    background: radial-gradient(circle, #378994, #002125);
    border-color: rgb(0, 33, 48); 

}

@keyframes edit-task-box-animation {
    0% {
      background-color: rgb(0, 247, 255);
    }
    50% {
        background-color: rgb(24, 188, 197);
    }
    100% {
        background-color: rgb(0, 247, 255);
    }
  }
  

.task-box-edited{
    animation: edit-task-box-animation 2s linear infinite;
    border-color: rgb(155, 190, 206);
}


.task-box-main-row {
    position:relative;
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin: 0;
    justify-content: center;
    width: 100%; 
    box-sizing: border-box; 
}


.task-box-main .task-box-main-row .task-name {
    font-weight: bold;
    height:100%;
    width:80%;
    font-size: 250%;
    box-sizing: border-box; 
    padding: 20px;
}

.task-box-sub .task-box-main-row .task-name {
    font-weight: bold;
    color-scheme: dark;
    height:100%;
    width:80%;
    font-size:150%;
    box-sizing: border-box; 
    padding: 20px;
}


.task-name-edit {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    height:100%;
    width:80%;
    font-size: 250%;
    box-sizing: border-box; 
    padding: 20px;
    margin-left: 0;
    background: none;
    border: none;
    color: rgb(214, 214, 214);
    text-shadow: 
    -1px -1px 0 rgb(119, 119, 119),  
    1px -1px 0 rgb(119, 119, 119),
    -1px 1px 0 rgb(119, 119, 119),
    1px 1px 0 rgb(119, 119, 119);
}

.task-description {
    font-weight: bold;
    border: grey solid 2px;
    border-radius: 5px;
    background-color: #005353;
    margin : 10%;
    width:80%;
    font-size: 150%;
    box-sizing: border-box; 
    padding: 20px;
    /* overflow: hidden;
    overflow-wrap: normal;
    white-space: normal; */

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden; /* Ukrywa resztę tekstu */
    text-overflow: ellipsis;
}

.task-description:hover{
    display:block
}

.task-description-edit {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border: grey solid 2px;
    border-radius: 5px;
    background-color: #005353;
    margin : 10%;
    height: 100%;
    width: 80%;
    font-size: 150%;
    box-sizing: border-box; 
    padding: 20px;
    color: rgb(214, 214, 214);
    text-shadow: 
    -1px -1px 0 rgb(119, 119, 119),  
    1px -1px 0 rgb(119, 119, 119),
    -1px 1px 0 rgb(119, 119, 119),
    1px 1px 0 rgb(119, 119, 119);
}

.task-box-button{

    font-size: 200%;
    background: none;
    border:none;
    border-radius: 100%;
    box-sizing: border-box; 

}

@keyframes task-box-button-hover-animation {
    0% {
        rotate: -10deg;
    }
    50% {
        rotate: 10deg;
    }
    100% {
        rotate: -10deg;
    }
  }

.task-box-button:hover{
    animation: task-box-button-hover-animation 1s linear infinite;
    cursor: pointer;
}

